
body {
    background-color: lightgray;
}

.table-responsive{
    height:500px;
}

.modal {
    display: none;
    position: fixed; 
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0,0,0); 
    background-color: rgba(0,0,0,0.4); 
    padding: 20px;
}

.modal-content {
    background-color: #fefefe;
    margin: 15% auto; 
    padding: 20px;
    width: 50%; 
}




.containerr{
    margin-top:20px;
    margin-bottom: 20px;
    width: 100%;
    height: 300px;
    box-shadow: 5px 5px 10px;
    
}
.table_responsive{
    height: 100%;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    
    
}

.table_responsive_head{
    margin-bottom: 5px;
    
}

.table_responsive_body{
    overflow-y: scroll;
    scrollbar-width: none;
}

.inner_table_responsive {
    border-collapse: collapse;
    table-layout: fixed;
    width: 100%;
    background: white;
}

.TRTH, .TRTD {
    border: 1px solid lightgray;
    padding: 8px; 
    text-align: left;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.TRTH:first-child, .TRTD:first-child{
    width: 90px;
}

.TRTH:last-child, .TRTD:last-child{
    text-align: right;
}

.TRTR:nth-child(2n+1){
    background: rgba(187, 181, 181, 0.5);
}
.TRTH {
    background: teal;
    color: white;
    text-transform: uppercase;
    font-weight: normal;
}
