{% load static %}

<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Javascript -->
    <script src="{% static 'portfolio/script.js' %}"></script>
    
    <script
  src="https://code.jquery.com/jquery-3.4.1.min.js"
  integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo="
  crossorigin="anonymous"></script>
    
    <!-- Custom Title -->
    <title>Portfolio - {{ title }}</title>

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

    <link rel="stylesheet" type="text/css" href="{% static 'portfolio/main.css' %}">
  </head>
  <body>
    <header class="container">
        <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
            <a class="navbar-brand" href="{% url 'portfolio-home' %}">Crypto Portfolio</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNavDropdown">
            <ul class="navbar-nav">
                {% if request.path == "/portfolio/" %}
                <li class="nav-item active">
                {% else %}
                <li class="nav-item">
                {% endif %}
                <a class="nav-link" href="{% url 'portfolio-home' %}">Home</a>
                </li>

                {% if user.is_authenticated %}
                  {% if request.path == "/portfolio/profile/" %}
                  <li class="nav-item active">
                  {% else %}
                  <li class="nav-item">
                  {% endif %}
                  <a class="nav-link" href="{% url 'portfolio-profile' %}">Profile</a>
                  </li>
                {% endif %}

                {% if request.path == "/portfolio/about/" %}
                  <li class="nav-item active">
                {% else %}
                  <li class="nav-item">
                {% endif %}
                  <a class="nav-link" href="{% url 'portfolio-about' %}">About</a>
                </li>
            </ul>
            </div>
            
            <div class="navbar-nav">
                {% if user.is_authenticated %}
                <a class="nav-item nav-link" href="{% url 'portfolio-logout' %}">Logout: {{user.get_username}}</a>
                {% else %}
                  {% if request.path == "/portfolio/login/" %}
                  <li class="nav-item active">
                  {% else %}
                  <li class="nav-item">
                  {% endif %}
                  <a class="nav-item nav-link" href="{% url 'portfolio-login' %}">Login</a>
                  {% if request.path == "/portfolio/register/" %}
                  <li class="nav-item active">
                  {% else %}
                  <li class="nav-item">
                  {% endif %}
                  <a class="nav-item nav-link" href="{% url 'portfolio-register' %}">Register</a>
                {% endif %}
            </div>
            

        </nav>
    </header>

    <div class="container">
        {% if messages %}
          {% for message in messages %}
            <div class = "alert alert-{{ message.tags }}">
              {{ message }}
            </div>
          {% endfor %}
        {% endif%}
        {% block content %}{% endblock content %}
    </div>

    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
  </body>
</html>