{% extends "portfolio/base.html" %}

{% block content %}

    {% if graph %}
        <div class="container" style="padding-top: 20px;">
            <div id="balance-plot">
                <button class="btn btn-primary btn-lg add-button" onclick="show_window3()">Choose Crypto To Predict</button>
                <img style="padding-top: 20px;" src="data:image/png;base64, {{graph|safe}}">
            </div>
        </div>
    {% endif %} 

    <div id="window-app3" class = "modal">
        <div class = "modal-content">
            <input type="text" id="myInput3" onkeyup="search()" placeholder="Search for Crypto..." style = "margin-bottom: 20px;"></input>
            <div class="panel-body table-responsive">
                {% if api_data %}            
                    {% for coin in api_data %}
                        <button class = "collapsible" id="{{coin.id}}" style = "width: 100%; margin-bottom: 10px;">
                            <div class = "content">     
                                <img src="{{coin.image}}" height="70px" alt="Coin Logo">
                                <div class = "p">{{coin.name}}</div>
                                <div style="display: none;" class = "price">{{coin.current_price}} USD</div> 
                            </div> 
                        </button>                  
                    {% endfor %}            
                {% else %}            
                    <p>Nothing Here to show</p>            
                {% endif %}
            </div>
        </div>
    </div>

{% endblock content %}