{% extends "portfolio/base.html" %}

{% block content %}

<button class="add-button" onclick="show_window()" id="test1">Choose and Buy Currency</button>
<button class="add-button" onclick="show_window2()" id="test2">Show account balance</button>

<div id="window-app2" class = "modal">
    <div class = "modal-content">
        <input type="text" id="myInput" onkeyup="search()" placeholder="Search for Crypto..." style = "margin-bottom: 20px;"></input>
        <div class="panel-body table-responsive">
            {% if user_data %}            
                {% for asset in user_data %}
                    <button class = "collapsible" id="{{asset.id}}" style = "width: 100%; margin-bottom: 10px;">
                        <div class = "content">     
                            <img src="{{asset.img}}" height="70px" alt="Coin Logo">
                            <div class = "p">{{asset.name}}</div>
                        </div> 
                    </button>                  
                {% endfor %}            
            {% else %}            
                <p>Nothing Here to show</p>            
            {% endif %}
        </div>
    </div>
</div>

{% if plot %}
    <img src="data:image/png;base64, {{plot|safe}}">
{% endif %}

<div id="window-app" class = "modal">
    <div class = "modal-content">
        <input type="text" id="myInput" onkeyup="search()" placeholder="Search for Crypto..." style = "margin-bottom: 20px;"></input>
        <div class="panel-body table-responsive">
            {% if api_data %}            
                {% for coin in api_data %}
                    <button class = "collapsible" id="{{coin.id}}" style = "width: 100%; margin-bottom: 10px;">
                        <div class = "content">     
                            <img src="{{coin.image}}" height="70px" alt="Coin Logo">
                            <div class = "p">{{coin.name}}</div>
                            <div style="display: none;" class = "price">{{coin.current_price}} USD</div> 
                        </div> 
                    </button>                  
                {% endfor %}            
            {% else %}            
                <p>Nothing Here to show</p>            
            {% endif %}
        </div>
    </div>
</div>

<div id="window-app-buy" class = "modal">
    <div class = "modal-content">
        <form action="/profile/" method="post">
            {{ form }}
            <input type="submit" value="Submit">
        </form>
    </div>
</div>




<button class="add-button" id = "show_button" onclick="show()" >Hide portfolio</button>
<div class = "containerr" id="user_port" style = "display: block" >
    <div class = "table_responsive">
        <div class = "table_responsive_head"> 
            <table class = "inner_table_responsive">
                <thead>
                    <tr class = "TRTR">
                        <th class = "TRTH">Logo</th>                              
                        <th class = "TRTH">Name</th>                
                        <th class = "TRTH">Amount</th>
                        <th class = "TRTH">Purchase Price</th>                 
                        <th class = "TRTH">Current Price</th>
                        <th class = "TRTH">24h</th>
                        <th class = "TRTH">Profit</th>
                    </tr>
                </thead>
            </table>
        </div> <!--table_responsive_head-->
        <div class = "table_responsive_body">
            <table class = "inner_table_responsive">
                <tbody>
                    {% if user_data %}           
                        {% for data in user_data %}
                            <tr class = "TRTR">
                                <td class = "TRTD"><img src="{{data.img}}" height="50px" alt="Coin Logo"></td> 
                                <td class = "TRTD">{{data.name}}</td>           
                                <td class = "TRTD">{{data.amount}}</td>
                                <td class = "TRTD">{{data.purchase_price}} USD</td>
                                <td class = "TRTD">{{data.price}} USD</td>
                                <td class = "TRTD">{{data.24h}} %</td>
                                <td class = "TRTD">{{data.profit}} USD</td>
                            </tr>           
                        {% endfor %}            
                    {% else %}            
                        <p>Your portfolio is empty</p>       
                    {% endif %}
                </tbody>
            </table>
        </div> <!--table_responsive_body-->
    </div> <!--table_responsive-->
</div>   

    <h1>List of all available coins</h1>
    <table class="table table-striped">
        <thead>
        <tr>                
            <th scope="col">Logo</th>                
            <th scope="col">Name</th>                
            <th scope="col">Rank</th>                
            <th scope="col">Market cap</th>
            <th scope="col">Price</th>                                                
        </tr>
        </thead>
    </table>
    <div class="panel-body table-responsive" style="padding: 0px;">
    <table class="table table-striped">
        <thead style="display: none;">
            <tr>                
                <th scope="col">Logo</th>                
                <th scope="col">Name</th>                
                <th scope="col">Rank</th>                
                <th scope="col">Market cap</th>
                <th scope="col">Price</th>                                                
            </tr>
            </thead>
        <tbody>               
            {% if api_data %}            
                {% for coin in api_data %}
                    <tr>                
                            <td><img src="{{coin.image}}" height="70px" alt="Coin Logo"></td>                
                            <td class="align-middle">{{coin.name}}</td>           
                            <td class="align-middle">{{coin.market_cap_rank}}</td>
                            <td class="align-middle">{{coin.market_cap}}</td>                
                            <td class="align-middle">{{coin.current_price}} USD</td>             
                    </tr>            
                {% endfor %}            
            {% else %}            
                <p>Nothing Here to show</p>            
            {% endif %}        
        </tbody>
    </table>
    </div>
{% endblock content %}